<img *ngIf="!found" class="position-absolute div__background-wavetop" src="../../../assets/v1.1/FONDOS/Fondo titulo.png"
    alt="">
<div class="position-absolute container contenedorModalTop" *ngIf="!found">
    <div class="row mt-4">
        <div class="col my-auto text-center">
            <img class="div_closebutton" (click)="returnHome()" src="../../../assets/v1.1/BOTONES/Atras.png" alt="">
        </div>
        <div class="col-8"></div>
        <div class="col"></div>
    </div>
</div>
<div style="height: 100vh;">
    <img class="position-absolute div__background-wavetop" *ngIf="found"
        src="../../../assets/v1.1/FONDOS/Fondo Producto.png" alt="">
    <div class="row justify-content-center">
        <div class="container-elements col-10 " *ngIf="found">
            <div class="col-sm mt-4">
                <img class="div_closebutton" (click)="returnHome()" src="../../../assets/v1.1/BOTONES/Atras.png" alt="">
            </div>
            <div class="row mt-2 mb-2">
                <div class="col-12 text-center p-0 mt-2">
                    <img src="../../../assets/Iconos/Alerta.png" class="div__width-logo">
                </div>
            </div>
            <div [ngClass]="!isProduct ? 'row mt-2 text-center text-blue noProductMargin' : 'row mt-2 text-center text-blue'">
                <div class="col-12 mt-4">
                    <h2 class="text-bold">{{'result.ingredient' | translate | uppercase }} </h2>
                </div>
            </div>
            <div class="text-blue listaHeight">
                <div *ngIf="!isProduct">
                    <div class="col-11" (click)="expandItem(item)" *ngFor="let item of ingredients">
                        <div class="row item-list">
                            <div [ngStyle]="{'color': item[8]}" class="col-9 text-left ingredients">
                                <p class=""> {{item[0] |titlecase}}</p>
                            </div>
                            <div [ngStyle]="{'background-color': item[7]}" class="col-1 text-left riesgo">!</div>
                        </div>
                        <app-expandable expandHeight="100%" [expanded]="item[5]">
                            <p [ngStyle]="{'color': item[9]}" class="ingredients-info">{{item[4]}}</p>
                            <p [ngStyle]="{'color': item[9]}" class="ingredients-info">{{item[6]}}</p>
                            <p [ngStyle]="{'color': item[9]}" class="ingredients-info2 text-center mb-1">{{item[1]}}%
                                {{'result.score' | translate }}</p>
                        </app-expandable>
                    </div>
                </div>
                <div *ngIf="isProduct">
                    <div class="col-11" (click)="expandItem(item)" *ngFor="let item of ingredients">
                        <div class="row item-list">
                            <div [ngStyle]="{'color': item[8]}" class="col-9 text-left ingredients">
                                <p class=""> {{item['name'] |titlecase}}</p>
                            </div>
                            <div class="col-1 text-right ingredients text-blue" *ngIf="item[5]">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                            <div class="col-1 text-right ingredients text-blue" *ngIf="!item[5]">
                                <i class="fas fa-chevron-down"></i>
                            </div>
                            <div [ngStyle]="{'background-color': item[7]}" class="col-1 text-left riesgo">!</div>
                        </div>
                        <app-expandable expandHeight="100%" [expanded]="item[5]">
                            <p [ngStyle]="{'color': item[9]}" class="ingredients-info">{{item['infoToReport']['cons']}}
                            </p>
                            <p [ngStyle]="{'color': item[9]}" class="ingredients-info">{{item[6]}}</p>
                            <p [ngStyle]="{'color': item[9]}" class="ingredients-info2 text-center mb-1">
                                {{item['totalRisk']['score'] | number : '1.1-1'}}%
                                {{'result.score' | translate }}</p>
                        </app-expandable>
                    </div>
                </div>
            </div>
            <div >
                <div class="col-12 mt-4 text-center">
                    <app-button class="btnProductNext" [btnText]="'result.button' | translate" (emitClick)="finalizar()"></app-button>
                </div>
                <div class="col-12 text-center">
                    <app-button class="btnProductBuy" [btnText]="'result.buy' | translate" (emitClick)="goToShop()" [primary]="false"></app-button>
                </div>
            </div>
        </div>
        <div class="container-elements col-10 center-vertical" *ngIf="!found">
            <div class="row ">
                <div class="col-12 bruno-text-info text-center ">
                    <img class="div__background-wavetop contenedorModalTop imgNotIng"
                    src="../../../assets/Iconos/sin riesgo.png" alt="">
                </div>
                <div class="col-12 bruno-text-info2 text-center ">
                        <h4 class="bruno-btn-home">{{'result.not-text' | translate }}</h4>
                        <h4 class="bruno-btn-home">{{'result.not-info' | translate }} </h4>
                        <img class="div__background-wavetop contenedorModalTop imgSend mt-3"
                            src="../../../assets/Iconos/Enviar.png" alt="">
                </div>
                <div class="col-12 text-center mt-3">
                    <app-button class="btnNext" [btnText]="'result.button' | translate" (emitClick)="finalizar()"></app-button>
                </div>
                <div class="col-12 text-center mt-3">
                    <app-button class="btnBuy" [btnText]="'result.buy' | translate" (emitClick)="goToShop()" [primary]="false"></app-button>
                </div>
            </div>
        </div>
        <div class="container-elements col-10">
        </div>
        <!-- Textarea in an item with a floating label -->
        <!-- <p class="item" (click)="feedback()">{{'result.comment' | translate }}</p> -->
        <!-- <ion-item class="text-center col-10 bruno-text-comment mt-3">
            <ion-textarea color="bblue" auto-grow="true" spellcheck="true"></ion-textarea> 
        </ion-item> -->
    </div>
</div>
<div class="contenedorBoton">
    <!-- <div class="col-12 text-center">
        <div class="row">
            <p (click)="feedback()" class="btnFeedback"><i class="far fa-hand-point-right"></i> Descubrir productos
                sanos <i class="far fa-hand-point-left"></i></p>
        </div>
        <div class="row">
            <p (click)="pdfButtonEvent.emit()" class="btnPdf"><i class="far fa-file-pdf"></i> PDF <i
                    class="fas fa-download"></i></p>
        </div>
    </div> -->
</div>